
<div id="games-page" class="main-content-wrap">
    
    <h1><%- page.title %></h1>

    <div><%- page.content %></div>

    <div>
        <ul>
    <% 
        site.posts.sort('date', 'desc').each(function(p) { 

            var portfolio = p.categories.find({ 'name': "Portfolio" });
            var games = p.categories.find({ 'name': "Projects" });

            if (portfolio.length == 0 || games.length == 0)
                return;

             %>
            <li>
                <a href="<%= url_for(p.path) %>">
                    <!-- <img src="<%= p.coverImage %>" />--><%=  p.title %> 
                </a>
            </li>

        <% }); %>
        </ul>
    </div>

</div>
