<%
    var tableOfContents = null;
    var postContent = post.content;

    // Generate and insert table of contents in post content
    if ((/<!--(\s*)[t|T][o|O][c|C](\s*)-->/).test(postContent)) {
        if (__('post.toc')) {
            tableOfContents = '<h1 id=\"table-of-contents\">' + __('post.toc') + '</h1>';
        } else {
            tableOfContents = '<span id="table-of-contents"></span>';
        }
        tableOfContents += toc(postContent, {list_number: false})
        postContent = postContent.replace(/<!--(\s*)[t|T][o|O][c|C](\s*)-->/, tableOfContents)
    }
    // Replace `<!-- endcontent -->` by `</div>` and `<!-- content -->` by `</div class="main-content-wrap">`
    // it's an hack to insert html tag without
    // having auto delete or auto closed by the markdown render engine
    // Currently used to insert an image in full width, out of `main-content-wrap` div
    // which center the content and have a limited width (750px)
    postContent = postContent.replace(/<!-- ?endcontent ?-->/g, '</div>')
                               .replace(/<!-- ?content ?-->/g, '<div class="main-content-wrap">');
%>
<article class="post" itemscope itemType="http://schema.org/BlogPosting">
    <% if (post.coverCaption) { %>
        <span class="post-header-cover-caption caption"><%= post.coverCaption %></span>
    <% } %>
    <% if (!post.coverImage || post.coverMeta === 'out') { %>
        <%- partial('post/header')%>
    <% } %>
    <div class="post-content markdown" itemprop="articleBody">
        <div class="main-content-wrap">
            <%- postContent %>
            <%- partial('post/gallery') %>
        </div>
    </div>
    <div id="post-footer" class="post-footer main-content-wrap">

        

        <% if ((post.tags) && (post.tags.length > 0)) { %>
            <div class="post-footer-tags">
                <span class="text-color-light text-small"><%= __('post.tagged_in') %></span><br/>
                <%- partial('post/tag', {tags: post.tags})%>
            </div>
        <% } %>
        <% if (post.actions === undefined || post.actions) { %>
            <%- partial('post/actions', {postContent: postContent}) %>
        <% } %>

        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{
                margin-top: 20px;
                margin-bottom: 30px;
                background-color: whitesmoke;
                border-radius: 8px;
                padding: 10px;
            }
            #mc_embed_signup .button
            {
                background-color: #ffab58
            }
        </style>
        <div id="mc_embed_signup">
        <form action="https://epicshrimp.us3.list-manage.com/subscribe/post?u=aaed03be8d4e6cc7ca902a572&amp;id=3c8f7e6e85" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Want the latest?</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aaed03be8d4e6cc7ca902a572_3c8f7e6e85" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <!--End mc_embed_signup-->

        <% if (post.comments) { %>
            <% if (theme.disqus_shortname) { %>
                <%- partial('post/disqus') %>
            <% } else if (theme.duoshuo_shortname) { %>
                <%- partial('post/duoshuo') %>
            <% } %>
        <% } %>

    </div>
</article>

